[submodule "src/AvailabilityVersions"]
	path = externals/AvailabilityVersions
	url = https://github.com/ddeville/AvailabilityVersions.git
[submodule "src/xnu"]
	path = externals/xnu
	url = https://github.com/ddeville/xnu.git
[submodule "src/dtrace"]
	path = externals/dtrace
	url = https://github.com/ddeville/dtrace.git
[submodule "src/libsystem"]
	path = externals/libsystem
	url = https://github.com/ddeville/libsystem.git
